<li class="comments_index">
  <span><%= comment.content %></span>
  <div class="container thumb_container">
    <% if comment.user.profile.picture? %>
      <div class="thumb_picture">
        <span>
          <%= image_tag comment.user.profile.picture.thumb.url %>
        </span>
      </div>
    <% end %>
    <span><%= link_to comment.user.name, comment.user %></span>
    <span><%= formatted_datetime(comment.created_at) %></span>
    <%= render partial: "reactions/reaction_form",
               locals: { reaction: comment.reactions.build,
                         reactable: comment } %>
  </div>
</li>
