<% provide :title, "Edit profile" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Edit profile</h2>

    <%= form_for @profile, url: user_path(@user),
                           method: :patch, html: { multipart: true } do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>

      <%= f.label :state %>
      <%= f.text_field :state, class: "form-control" %>

      <%= f.label :country %>
      <%= f.text_field :country, class: "form-control" %>

      <%= f.label :time_zone %>
      <%= f.time_zone_select :time_zone,
                             ActiveSupport::TimeZone.us_zones,
                             {},
                             class: "form-control" %>

      <%= f.label :birthday %>
      <% s_date = @profile.birthday.blank? ? Date.today : @profile.birthday %>
      <div class="datetime_select">
        <%= select_month s_date, { prefix: :profile,
                                   field_name: :"birthday(2i)" },
                                 { class: "form-control" } %>
        <%= select_day s_date, { prefix: :profile,
                                 field_name: :"birthday(3i)" },
                               { class: "form-control" } %>
        <%= select_year s_date, { prefix: :profile,
                                  field_name: :"birthday(1i)",
                                  start_year: Date.today.year,
                                  end_year: Date.new(1900).year },
                                { class: "form-control" } %>
      </div>

      <div class="picture_upload">
        <%= f.label :picture, "Upload picture" %>
        <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
      </div>

      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#profile_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
