<% unless @timeline %>
  <% provide :title, @user.name %>
<% end %>

<% if @timeline %>
  <h1>Home</h1>
<% else %>
  <h1>Profile</h1>
<% end %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @profile.picture? %>
        <span class="picture">
          <%= image_tag @profile.picture.profile.url %>
        </span>
      <% end %>
      <h3><%= @user.name %></h3>
      <% unless @profile.city.blank? %>
        <span>City: <%= @profile.city %></span>
      <% end %>
      <% unless @profile.state.blank? %>
        <span>State: <%= @profile.state %></span>
      <% end %>
      <% unless @profile.country.blank? %>
        <span>Country: <%= @profile.country %></span>
      <% end %>
      <% unless @profile.time_zone.blank? %>
        <span>Time zone: <%= @profile.time_zone%></span>
      <% end %>
      <% unless @profile.birthday.blank? %>
        <span>Birthday: <%= formatted_birthday(@profile.birthday) %></span>
      <% end %>
      <% unless @profile.age.blank? %>
        <span>Age: <%= @profile.age %></span>
      <% end %>
      <% unless @profile.gender.blank? %>
        <span>Gender: <%= @profile.gender %></span>
      <% end %>
      <%= link_to "Friends", user_friendships_path(@user) %>
    </section>
  </aside>
  <div class="col-md-4">
    <% if @timeline %>
      <h3>Timeline</h3>
    <% else %>
      <h3>Posts</h3>
    <% end %>
    <% if current_user == @user %>
      <%= render "posts/post_form" %>
    <% end %>
    <%= will_paginate @posts %>
    <ol>
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
  </div>
</div>
