<li class="users_index">
  <div class="container thumb_container">
    <% if received %>
      <% if friend_request.sender.profile.picture? %>
        <div class="thumb_picture">
          <span>
            <%= image_tag friend_request.sender.profile.picture.thumb.url %>
          </span>
        </div>
      <% end %>
      <span>
        <%= link_to friend_request.sender.name, friend_request.sender,
                                                class: "name_link" %>
      </span>
      <span>
        <%= link_to "Accept friend request",
            user_friendships_path(friend_request.sender),
            method: :post %></span><span>
        <%= link_to "Ignore friend request",
            friend_request_path(friend_request),
            method: :delete %>
      </span>
    <% else %>
      <% if friend_request.receiver.profile.picture? %>
        <div class="thumb_picture">
          <span class="picture">
            <%= image_tag friend_request.receiver.profile.picture.thumb.url %>
          </span>
        </div>
      <% end %>
      <span>
        <%= link_to friend_request.receiver.name, friend_request.receiver,
                                                  class: "name_link" %>
      </span>
      <span>
        <%= link_to "Cancel friend request",
            friend_request_path(friend_request),
            method: :delete %>
      </span>
    <% end %>
  </div>
</li>
