<li class="posts_index">
  <span><%= post.content %></span>
  <span><%= link_to post.user.name, post.user %></span>
  <span class="last_span"><%= formatted_datetime(post.created_at) %></span>
  <%= render partial: "reactions/reaction_form",
             locals: { reaction: post.reactions.build,
                       reactable: post } %>
  <ol>
    <%= render post.comments %>
    <%= render partial: "comments/comment_form",
               locals: { comment: post.comments.build,
                         commentable: post } %>
  </ol>
</li>
